.carousel-cont {
  min-width: 100vw;
  min-height: 80vh;
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 10rem 0;
}
.carousel-cont .carousel-main-cont {
  padding: 0 5rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
@media screen and (max-width: 800px) {
  .carousel-cont .carousel-main-cont {
    padding: 2rem;
  }
}
@media screen and (max-width: 480px) {
  .carousel-cont .carousel-main-cont {
    position: static;
  }
}
.carousel-cont .carousel-main-cont h1 {
  font-size: clamp(1.75em, 10vw, 3em);
  margin-left: 6rem;
  line-height: 1.2em;
}
@media screen and (max-width: 800px) {
  .carousel-cont .carousel-main-cont h1 {
    margin-left: 0;
  }
}
.carousel-cont .carousel-main-cont .carousel {
  position: relative;
  width: 100%;
  flex: 1;
}
@media screen and (max-width: 480px) {
  .carousel-cont .carousel-main-cont .carousel {
    flex-direction: column;
  }
}
.carousel-cont .carousel-main-cont .carousel .carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 5;
}
@media screen and (max-width: 800px) {
  .carousel-cont .carousel-main-cont .carousel .carousel-btn {
    top: 85%;
  }
}
.carousel-cont .carousel-main-cont .carousel .carousel-btn button {
  background: none;
  border: none;
  cursor: pointer;
  color: #bababa;
  transition: color 0.3s ease;
  cursor: pointer;
}
.carousel-cont .carousel-main-cont .carousel .carousel-btn button:hover {
  color: white;
}
.carousel-cont .carousel-main-cont .carousel .carousel-btn.left {
  left: 0;
}
.carousel-cont .carousel-main-cont .carousel .carousel-btn.right {
  right: 0;
}
.carousel-cont .carousel-main-cont .carousel .carousel-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 22rem;
  display: flex;
  justify-content: center;
  align-items: stretch;
}
.carousel-cont .carousel-main-cont .carousel .carousel-item .carousel-card {
  width: 25rem;
  overflow: hidden;
  background-color: #121212;
  display: flex;
  opacity: 0;
  flex-direction: column;
  padding: 1rem;
  border-radius: 12px;
  color: white;
  transition: all 0.5s ease;
  transform: translateX(0%) scale(1);
}
.carousel-cont .carousel-main-cont .carousel .carousel-item .carousel-card .content {
  flex: 1 0 0;
}
.carousel-cont .carousel-main-cont .carousel .carousel-item .carousel-card .content .quote {
  overflow: hidden;
}
@media screen and (max-width: 480px) {
  .carousel-cont .carousel-main-cont .carousel .carousel-item .carousel-card .content .quote {
    height: auto;
  }
}
.carousel-cont .carousel-main-cont .carousel .carousel-item .carousel-card .content .quote p {
  padding-top: 2.5rem;
  font-size: 0.8em;
  font-weight: 300;
  color: rgb(194, 194, 194);
}
@media screen and (max-width: 800px) {
  .carousel-cont .carousel-main-cont .carousel .carousel-item .carousel-card .content .quote p {
    padding-top: 2rem;
  }
}
.carousel-cont .carousel-main-cont .carousel .carousel-item .carousel-card .content .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.carousel-cont .carousel-main-cont .carousel .carousel-item .carousel-card .content .header .user-info h2 {
  font-weight: 600;
  font-size: 1em;
}
.carousel-cont .carousel-main-cont .carousel .carousel-item .carousel-card .content .header .user-info h3 {
  font-weight: 200;
  font-size: 0.7em;
}
.carousel-cont .carousel-main-cont .carousel .carousel-item .carousel-card .content .header img {
  width: 4rem;
  height: 4rem;
  aspect-ratio: 1;
  border-radius: 100%;
  object-fit: cover;
}
.carousel-cont .carousel-main-cont .carousel .carousel-item.active {
  z-index: 2;
}
.carousel-cont .carousel-main-cont .carousel .carousel-item.active .carousel-card {
  opacity: 1;
  transform: translateX(0%) scale(1.1);
}
.carousel-cont .carousel-main-cont .carousel .carousel-item.prev {
  z-index: 1;
}
.carousel-cont .carousel-main-cont .carousel .carousel-item.prev .carousel-card {
  opacity: 0.5;
  transform: translateX(-60%) scale(0.8);
}
.carousel-cont .carousel-main-cont .carousel .carousel-item.next {
  z-index: 1;
}
.carousel-cont .carousel-main-cont .carousel .carousel-item.next .carousel-card {
  opacity: 0.5;
  transform: translateX(60%) scale(0.8);
}/*# sourceMappingURL=VideoCarousel.css.map */