@import "./breakpoints.scss";

.approach-cont {
  width: 100%;
  overflow: hidden;

  .main-content {
    padding: 0 5rem;

    @include md {
      padding: 0 2rem;
    }

    h1 {
      text-align: center;
      margin-bottom: 5rem;

      @include md {
        text-align: left;
      }

      @include sm {
        margin-bottom: 2rem;
        font-size: 2em;
      }
    }

    .text-reveal-cont {
      text-transform: uppercase;
      font-weight: bold;
      font-size: clamp(1.1em, 3vw, 1.8em);
      padding-bottom: 10rem;

      @include md {
        padding-bottom: 7rem;
      }

      @include sm {
        font-size: 1em;
      }
    }
  }
}
