.details-cont {
  padding: 0 5rem;
  max-width: 100vw;
  overflow: hidden;

  @media screen and (max-width: 800px) {
    padding: 5rem 2rem;
  }

  .text-slider {
    padding: 0 7rem;

    @media screen and (max-width: 800px) {
      padding: 0;
    }

    .header {
      display: flex;
      flex-direction: column;
      align-items: center;

      h1 {
        font-weight: 400;
        font-size: 2em;
        text-align: center;
        color: #008080;
        margin-bottom: 1.5rem;
      }

      p {
        font-weight: 200;
        font-size: 0.9em;
        color: white;
        text-align: center;
        max-width: 40rem;
      }
    }

    .container {
      margin-top: 5rem;
      display: flex;
      gap: 1rem;

      @media screen and (max-width: 800px) {
        flex-direction: column;
      }
      .summary-cont {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .info-cont {
          border: 2px solid black;
          border-radius: 30px;
          overflow: hidden;
          background-color: white;

          .summary {
            padding: 1rem 2rem;
            background-color: #008080;
            display: flex;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;

            h3 {
              font-weight: 400;
              font-size: 1em;
            }
          }

          p {
            color: black;
            padding: 1rem 2rem;
          }
        }
      }

      .img-cont {
        flex: 1;
        border-radius: 30px;
        overflow: hidden;
        position: relative;
        width: 100%;
        height: 20rem;
        border: 3px solid black;
        border-bottom: 15px solid black;

        @media screen and (max-width: 800px) {
          flex: 20rem;
        }

        img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}
