@import "./breakpoints.scss";

.proposal-cont {
  margin-top: 1rem;
  width: 100%;

  .proposal-body {
    max-width: 70rem;
    margin: auto;

    .header {
      display: flex;
      justify-content: space-between;

      h1 {
        font-weight: 400;
        font-size: 3em;
      }

      button {
        color: white;
        background-color: #008080;
        border-radius: 25px;
        border: none;
        height: fit-content;
        padding: 0.5rem 1.2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.2rem;
      }
    }

    .proposal-info {
      margin-top: 5rem;
      display: flex;

      h2 {
        font-weight: 400;
        font-size: 1.15em;
        margin-bottom: 1rem;
      }

      .address-items {
        flex: 1;
        display: flex;
        gap: 1rem;
        border-right: 1px solid white;

        .address-item-cont {
          flex: 1;

          .contact-info {
            margin-bottom: 2rem;
            margin-left: 1rem;
            font-size: 0.85em;

            .number {
              margin-top: 0.5rem;
              text-decoration: underline;
            }
          }

          h3 {
            font-size: 0.9em;
            font-weight: 200;
          }
        }
      }

      .proposal-inquiry {
        margin-left: 5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 2.5rem;

        .inquiry-field {
          .inquiry-info {
            .label {
              font-weight: 200;
              font-size: 0.8em;
            }
            .value {
              font-weight: 300;
              font-size: 0.8em;
              margin-left: 1rem;
            }
          }
        }
      }
    }
  }
}
