@import "./breakpoints.scss";

.we-do-cont {
  max-width: 70rem;
  margin: auto;
  padding: 0 1rem;
  min-height: 100vh;

  .header {
    display: flex;
    align-items: center;
    margin-bottom: 4rem;

    @include md {
      flex-direction: column;
    }

    h1 {
      font-size: 4em;
      font-weight: 500;
      flex: 1;
    }

    p {
      flex: 1;
      font-size: 0.8em;
      font-weight: 300;
      color: rgb(168, 168, 168);
    }
  }

  .for-who-cont {
    display: flex;
    margin-bottom: 3rem;
    gap: 2rem;

    .for-who-item {
      flex: 1;
      display: flex;
      justify-content: center;

      h1 {
        padding: 0.4rem 1rem;
        border-radius: 10px;
        background-color: rgb(39, 39, 39);
        width: fit-content;
        text-align: center;
        color: gray;
        font-size: 1.25em;
      }

      &:first-child {
        h1 {
          background-color: white;
          color: black;
        }
      }
    }
  }

  .content-cont {
    overflow: visible;
    position: relative;

    .content-body {
      position: absolute;
      top: 0;
      width: 100%;
      opacity: 0;

      &:first-child {
        opacity: 1;
      }

      .content-header {
        font-weight: 400;
        font-size: 1.25em;
        margin-bottom: 1rem;
      }

      .content-items {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 2rem;
        row-gap: 1rem;

        .item-cont {
          display: flex;
          align-items: center;
          flex-direction: column;

          img {
            margin-bottom: 1rem;
            aspect-ratio: 1/1;
            height: 3.7rem;
            width: 3.7rem;
            object-fit: cover;
            border-radius: 20px;
          }

          .item-content {
            max-width: 18rem;

            h1 {
              text-align: center;
              font-size: 1em;
              font-weight: 400;
              margin-bottom: 0.5rem;
            }

            p {
              text-align: center;
              font-size: 0.75em;
              font-weight: 300;
              color: rgb(224, 224, 224);
              margin-bottom: 2rem;
            }
          }
        }
      }
    }
  }
}
