@import "./breakpoints.scss";

.we-do-cont {
  max-width: 70rem;
  margin: auto;
  margin-bottom: 15rem;
  padding: 0 1rem;

  .header {
    display: flex;
    align-items: center;
    margin-bottom: 7rem;

    @include md {
      flex-direction: column;
    }

    h1 {
      font-size: 4em;
      font-weight: 500;
      flex: 1;
    }

    p {
      flex: 1;
      font-size: 0.8em;
      font-weight: 300;
      color: rgb(168, 168, 168);
    }
  }

  .content-cont {
    max-height: 100vh;
    overflow: visible;

    .content-header {
      font-weight: 400;
      font-size: 1.25em;
      margin-bottom: 1rem;
    }

    .content-items {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      column-gap: 2rem;
      row-gap: 1rem;

      .item-cont {
        display: flex;
        align-items: center;
        flex-direction: column;

        img {
          margin-bottom: 1rem;
          aspect-ratio: 1/1;
          height: 3.7rem;
          width: 3.7rem;
          object-fit: cover;
          border-radius: 20px;
        }

        .item-content {
          max-width: 18rem;

          h1 {
            text-align: center;
            font-size: 1em;
            font-weight: 400;
            margin-bottom: 0.5rem;
          }

          p {
            text-align: center;
            font-size: 0.75em;
            font-weight: 300;
            color: rgb(224, 224, 224);
            margin-bottom: 2rem;
          }
        }
      }
    }
  }
}
