@import "./breakpoints.scss";

.we-do-cont {
  max-width: 70rem;
  min-height: calc(60vh + 5rem);
  margin: auto;
  padding: 0 1rem;
  position: relative;
  z-index: 50;

  @include md {
    margin-bottom: 7rem;
  }

  .header {
    display: flex;
    align-items: start;
    margin-bottom: 4rem;

    @include md {
      flex-direction: column;
    }

    h1 {
      font-size: 3em;
      font-weight: 500;
      flex: 1;

      @include md {
        font-size: 2em;
      }
    }

    p {
      padding-top: 2rem;
      flex: 1;
      font-size: 1em;
      font-weight: 300;
      color: #969696;
    }
  }

  .for-who-cont {
    display: flex;
    margin-bottom: 3rem;
    gap: 2rem;

    @include sm {
      flex-direction: column;
    }

    .for-who-item {
      flex: 1;
      display: flex;
      justify-content: center;

      button {
        cursor: pointer;
        padding: 0.4rem 1rem;
        border-radius: 10px;
        background-color: rgb(39, 39, 39);
        color: gray;
        transition: all 500ms;

        @include sm {
          width: 100%;
        }
      }

      h1 {
        width: fit-content;
        text-align: center;
        font-size: 1.25em;
      }

      &.active {
        button {
          background-color: white;
          color: black;
        }
      }
    }
  }

  .content-cont {
    overflow: visible;
    position: relative;

    .content-body {
      .item-description {
        text-align: center;
        font-size: 1em;
        font-weight: 300;
        margin-bottom: 3rem;
      }

      .content-items {
        display: flex;
        column-gap: 2rem;
        row-gap: 1rem;

        @include md {
          flex-direction: column;
        }

        .item-cont {
          flex: 1;
          display: flex;
          align-items: center;
          flex-direction: column;

          img {
            margin-bottom: 1rem;
            aspect-ratio: 1/1;
            height: 3.7rem;
            width: 3.7rem;
            object-fit: cover;
            border-radius: 20px;
          }

          .item-content {
            max-width: 18rem;

            h1 {
              text-align: center;
              font-size: 1em;
              font-weight: 400;
              margin-bottom: 0.5rem;
            }

            p {
              text-align: center;
              font-size: 0.75em;
              font-weight: 300;
              color: rgb(224, 224, 224);
              margin-bottom: 2rem;
            }
          }
        }
      }
    }
  }
}
